---
---

@import "{{ site.theme }}";

body {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;

}
#main-content * {
  color: white;
  mix-blend-mode: difference;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../img/stars.png'), #121212;
    background-repeat: repeat, no-repeat;
    background-size: auto, auto;
    background-attachment: scroll, scroll;
  }
}