---
---

@import "{{ site.theme }}";

html {
  --bg-gradient: none;
  --bg-color: white;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  
  background:
    var(--bg-gradient),
    url('../img/stars.png'),
    var(--bg-color);
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: cover, auto, auto;
  background-attachment: fixed, fixed, scroll;
  
  height:100%

}
#main-content * {
  color: white;
  mix-blend-mode: difference;
}

#main-content h1 {
  color: #b8b8b8 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    background: 
      url('../img/stars.png'), 
      #121212;
    background-repeat: repeat, no-repeat;
    background-size: auto, auto;
    background-attachment: fixed, scroll;
  }
}