---
---

@import "{{ site.theme }}";

#sidebar {
  display: none !important;
}

body {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  isolation: isolate;
}
body * {
  color: white;
  mix-blend-mode: difference;
}

.button {
  //Hide github ad
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    background-image: url('../img/stars.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    isolation: isolate;
  }
  body * {
    color: white;
    mix-blend-mode: difference;
  }
}