---
---

@import "{{ site.theme }}";

body {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;

  background-repeat: no-repeat, repeat, no-repeat;
  background-size: cover, auto, auto;
  background-attachment: fixed, scroll, scroll;
}
body * {
  color: white;
  mix-blend-mode: difference;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../img/stars.png'), #121212;
    background-repeat: repeat, no-repeat;
    background-size: auto, auto;
    background-attachment: scroll, scroll;
  }
}