---
---

@import "{{ site.theme }}";

body {
  --bg-gradient: none;
  --bg-color: white;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  
  background:
    var(--bg-gradient),
    url('../img/stars.png'),
    var(--bg-color);
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: cover, auto, auto;
  background-attachment: fixed, fixed, scroll;
  
  height: 100%
}

#main-content *, footer {
  color: #b8b8b8;
  mix-blend-mode: difference;
}

#main-content h1 {
  color: #b8b8b8 !important;
}

.time-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Style for the slider input element */
.full-width-slider {
  flex-grow: 1;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .time-container {
    display: none;
  }
}