---
---

@import "{{ site.theme }}";

body {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  isolation: isolate;
}
body * {
  color: white;
  mix-blend-mode: difference;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  isolation: isolate;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../img/stars.png');
    background-color: #121212;
  }
}